@inherits LayoutComponentBase
@implements IDisposable
@inject AppState appState
@inject IToastService toastService

<BlazoredToasts Timeout="10"
                    ShowProgressBar="true"
                    RemoveToastsOnNavigation="false"
                    Position="ToastPosition.TopRight"></BlazoredToasts>

@if (appState.Loading)
{
    <Loader></Loader>
}

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        appState.OnChange += StateHasChanged;
    }

    void IDisposable.Dispose()
    {
        appState.OnChange -= StateHasChanged;
    }
}
