@inject AppState appState; 
@inject IToastService toastService;
@inject ILocalStorageService localStorage;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Smart Watts</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @if (appState.LoggedInUser is null)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Log In
                </NavLink>
            </li>
        }
        else
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Activities
                </NavLink>
            </li>
        @if(appState.LoggedInUser.Activities is not null && appState.LoggedInUser.Activities.Count >= 1)
        {
                
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="calendar">
                <span class="oi oi-calendar" aria-hidden="true"></span> Calendar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="powerprogression">
                <span class="oi oi-signal" aria-hidden="true"></span> Power Progression
            </NavLink>
        </li>
        }
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="profile">
                    <span class="oi oi-person" aria-hidden="true"></span> @appState.LoggedInUser.Email
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" @onclick="Logout" href="login">
                    <span class="oi oi-account-logout" aria-hidden="true"></span>Log Out
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    protected override void OnInitialized()
    {
        appState.OnChange += StateHasChanged;
    }

    private async Task Logout()
    {
        await localStorage.RemoveItemAsync("userid");
        appState.ClearUser();
        toastService.ShowSuccess("You have been succesfully logged out");
    }

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
