@page "/"

@inject AppState _appState; 
@inject NavigationManager _nav;

<h3>Home</h3>

@code{       

    protected override void OnInitialized()
    {
        if (_appState.LoggedInUser is null)
        {
            _nav.NavigateTo("/login");
        }
    }
}



