@page "/"

@inject AppState _appState; 
@inject NavigationManager _nav;
@inject ILocalStorageService _localStorage;
@inject IUserService _userService;

<h3>Home</h3>


@code{       

    protected override async Task OnInitializedAsync()
    {
        var userid = await _localStorage.GetItemAsync<string>("userid");

        if (String.IsNullOrWhiteSpace(userid) && _appState.LoggedInUser is null)
        {
            _nav.NavigateTo("/login");
        }
        else if (_appState.LoggedInUser is null)
        {
            var user = await _userService.GetUserById(userid);
            _appState.SetUser(user);
        }
    }

   



}



