@page "/"

@inject AppState appState; 
@inject NavigationManager nav;
@inject ILocalStorageService localStorage;
@inject IUserService userService;

<h3>Home</h3>


@code{

    protected override async Task OnInitializedAsync()
    {
        var userid = await localStorage.GetItemAsync<string>("userid");

        if (String.IsNullOrWhiteSpace(userid) && appState.LoggedInUser is null)
        {
            nav.NavigateTo("/login");
        }
        else if (appState.LoggedInUser is null)
        {
            var user = await userService.GetUserById(userid);
            if(user == null)
            {
                await localStorage.RemoveItemAsync("userid");
                nav.NavigateTo("/login");
            }
            appState.SetUser(user);

            if(user.TokenExpiration <= DateTime.Now)
            {
                await userService.RefreshUserToken(user);
            }
        }
    }

   



}



