@page "/login";

@inject IUserService _userService;
@inject AppState _appState; 
@inject NavigationManager _nav;

<div class="container">
    <div class="centered-window">

        <h4>Log In</h4>

        <hr />
        <form>
            <p>
                <label for="email">Email: </label>
                <input id="email" type="email" @bind-value="user.Email"/>
            </p>

            <p>
                <label for="password">Password: </label>
                <input id="password" type="password" @bind-value="user.Password"/>
            </p>
            <button type="button" class="btn btn-confirm" @onclick="SubmitLogin">Log In</button>
        </form>
        <a href="register">i don't have an account</a>
    </div>
</div>




@code {

    User user = new();
    List<User> users;

    private async Task SubmitLogin()
    {
        try
        {
            user = await _userService.LoadUser(user);
            _appState.SetUser(user);

            _nav.NavigateTo("/");
        }
        catch (Exception ex)
        {

            throw;
        }
    }

}

<style>

    h4 {
        text-align: center;
    }

    a {
        font-size: 9px;
    }

    form {
        display: table;
    }

    p {
        display: table-row;
    }

    label {
        display: table-cell;
    }

    input {
        display: table-cell;
    }
</style>
