@page "/oauth2";

@inject IUserService userService;
@inject ILocalStorageService localStorage;
@inject NavigationManager nav;
@inject AppState appState;



<h3>Strava Connection Found</h3>

<button @onclick="AddCodeToUser">Pull in your data</button>

@code {

    private async Task AddCodeToUser()
    {
        var userid = await localStorage.GetItemAsync<string>("userid");
        var user = await userService.GetUserById(userid);
        appState.SetUser(user);

        await userService.AddTokenToUser(nav.Uri, user);

        nav.NavigateTo("/profile");
    }
}
