@page "/profile";

@inject AppState _appState; 
@inject IStravaService _stravaService;
@inject NavigationManager nav;

<h4>@_appState.LoggedInUser.Email</h4>

@if (String.IsNullOrWhiteSpace(_appState.LoggedInUser.StravaAccessCode) == false)
{
    <p>Linked to Strava ID: @_appState.LoggedInUser.StravaAccessCode</p>
}
else
{
    <button class="btn btn-strava" @onclick="RedirectToAuth">Link to Stava</button>
}


@code {
    [Parameter]
    public string Code { get; set; }

    

    private void RedirectToAuth()
    {
        UriBuilder uriBuilder = new()
        {
            Scheme = "https",
            Host = "strava.com",
            Path = "oauth/authorize"
        };

        var paramValues = HttpUtility.ParseQueryString(uriBuilder.Query);
        paramValues.Add("client_id", Constants.STRAVA_CLIENT_ID);
        paramValues.Add("redirect_uri", $"{Constants.BASE_URI}/oauth2/");
        paramValues.Add("response_type", "code");
        paramValues.Add("scope", "activity:read_all,profile:read_all");

        uriBuilder.Query = paramValues.ToString();

        nav.NavigateTo(uriBuilder.Uri.AbsoluteUri);
    }

}

<style>
    .btn-strava {
        color: white;
        background-color: var(--strava-orange);
    }
</style>
