@page "/register";

@inject IUserService _userService;
@inject AppState _appState; 
@inject NavigationManager _nav;

<div class="container">
    <div class="centered-window">

        <h4>Register</h4>

        <hr />
        <form>
            <p>
                <label for="email">Email: </label>
                <input id="email" type="email" @bind-value="user.Email" />
            </p>

            <p>
                <label for="password">Password: </label>
                <input id="password" type="password" @bind-value="user.Password" />
            </p>
            <button type="button" class="btn btn-confirm" @onclick="SubmitRegister">Submit</button>
        </form>
        <p>
            <a href="/">take me to login page</a>
        </p>

    </div>
</div>




@code {

    User user = new();

    private async Task SubmitRegister()
    {
        try
        {
            await _userService.RegisterUser(user);

            _appState.SetUser(user);

            Toaster.ShowToast($"user created for {user.Email}", "lightgreen");

            _nav.NavigateTo("/");

        }
        catch (Exception)
        {

            throw;
        }
    }

}

<style>

    h4 {
        text-align: center;
    }

    a {
        font-size: 9px;
    }

    form {
        display: table;
    }

    p {
        display: table-row;
    }

    label {
        display: table-cell;
    }

    input {
        display: table-cell;
    }
</style>
