@page "/register";

@inject IUserService userService;
@inject AppState appState; 
@inject NavigationManager nav;
@inject ILocalStorageService localStorage;
@inject IToastService toastService;

<div class="container">
    <div class="centered-window">

        <h4>Register</h4>

        <hr />
        <form>
            <p>
                <label for="email">Email: </label>
                <input id="email" type="email" @bind-value="email" />
            </p>

            <p>
                <label for="password">Password: </label>
                <input id="password" type="password" @bind-value="password" />
            </p>
            <button type="button" class="btn btn-confirm" @onclick="SubmitRegister">Submit</button>
        </form>
        <p>
            <a href="/">take me to login page</a>
        </p>

    </div>
</div>




@code {

    string email;
    string password;

    private async Task SubmitRegister()
    {
        try
        {
            User user = new User()
            {
                Email = email,
                Password = password
            };

            await userService.RegisterUser(user);
            appState.SetUser(user);
            await localStorage.SetItemAsync("userid", user.UserId);

            toastService.ShowSuccess($"user created for {user.Email}");

            nav.NavigateTo("/");

        }
        catch (Exception ex)
        {
            toastService.ShowError($"error registering - {ex.Message}");
        }
    }

}

<style>

    h4 {
        text-align: center;
    }

    a {
        font-size: 9px;
    }

    form {
        display: table;
    }

    p {
        display: table-row;
    }

    label {
        display: table-cell;
    }

    input {
        display: table-cell;
    }
</style>
