
h5 {
    overflow: hidden;
    text-align: center;
}

h5:before,h5:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h5:before {
    right: 0.5em;
    margin-left: -90%;
}

h5:after {
    left: 0.5em;
    margin-right: -10%;
}

.brief-wrapper{
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: fit-content;
}

.detailed-wrapper {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: fit-content;
}

.day-wrapper {
    width: fit-content;
    margin: 10px 10px 15px 10px;
    padding: 10px;
}

.intensity-perc {
    border-radius: 50%;
    padding: 2px 2px 2px 4px;
    margin: 2px;
}

.data-container{
    display: flex;
}

.power-table{
    flex: 5;
}

.sustained-efforts{
    flex: 1;
    margin-left: 10px;
    max-width: 175px;
}