<table>
    	<tr>
			<th></th>
			@foreach (var pp in Activity.PowerData.PowerPoints)
			{
				<th>@DateTimeUtilities.ConvertSecToReadable(pp.Key)</th>
			}
		</tr>
		<tr>
			<td class="row-title">This Ride</td>
			@foreach (var pp in Activity.PowerData.PowerPoints)
			{
				Intensity intensity = PowerUtlities.GetEffortIntensity(pp, PowerHistory);
				<td style="background-color:@intensity.Color">
					<span style="color:@(intensity.Color == "purple" ? "white" : "black")">@pp.Value</span>
				</td>
			}
		</tr>
		<tr>
			<td class="row-title">30 Day</td>
			@foreach (var pp in PowerHistory.PowerPoints)
			{

				<td>@pp.Value</td>
			}
		</tr>
</table>

@code {
	[Parameter]
	public Activity Activity { get; set; }

	[Parameter]
	public PowerHistory PowerHistory { get; set; }
}

