@page "/powerprogression"
@inject AppState appState
@inject NavigationManager nav

@if(currentPH.Count > 0)
{
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="title">
                <h4>Current Power Profile</h4>
            </div>
            <PowerProgressionTable PowerHistory="currentPH" Differences="differences" Current="true"></PowerProgressionTable>
        </div>
        <div class="col-6">
            <div class="title">
                <h4>
                    Power Profile
                    <input type="number" max="365" min="1" width="3" value=daysBack placeholder=1 @onchange="@((args) => { daysBack = Int32.Parse(args.Value.ToString()); GetPreviousHistory(); })">
                    @(daysBack == 1 ? "Day" : "Days") Back <span class="pointer" @onclick=GoToRides>(@(ridesAgo == 1 ? $"{ridesAgo} ride" : $"{ridesAgo} rides") since)</span>
                </h4>
            </div>
            <PowerProgressionTable PowerHistory="previousPH" Differences="differences" Current="false"></PowerProgressionTable>
        </div>
    </div>
</div>
}

@code {
    List<PowerHistory> currentPH = new();
    List<PowerHistory> previousPH = new();
    int daysBack = 1;
    int ridesAgo;
    DateTime now = DateTime.Now;

    List<KeyValuePair<int, string>> differences = new();

    protected override void OnInitialized()
    {
        ridesAgo = appState.LoggedInUser.Activities.Count(a => a.Date >= now.AddDays(-daysBack));

        foreach(int daysOfHistory in Constants.PowerProgressionDays)
        {
            currentPH.Add(PowerCurveUtilities.GetPowerHistoryForProgression(now.AddDays(1), appState.LoggedInUser.Activities, daysOfHistory));
            previousPH.Add(PowerCurveUtilities.GetPowerHistoryForProgression(now.AddDays(-daysBack), appState.LoggedInUser.Activities, daysOfHistory));
        }

        GetDifference();
    }

    private void GetPreviousHistory()
    {
        ridesAgo = appState.LoggedInUser.Activities.Count(a => a.Date >= now.AddDays(-daysBack));
        previousPH.Clear();

        foreach (int daysOfHistory in Constants.PowerProgressionDays)
        {
            previousPH.Add(PowerCurveUtilities.GetPowerHistoryForProgression(now.AddDays(-daysBack), appState.LoggedInUser.Activities, daysOfHistory));
        }

        GetDifference();
    }

    private void GetDifference()
    {
        var current = currentPH.Find(ph => ph.LookbackDays == 42);
        var prev = previousPH.Find(ph => ph.LookbackDays == 42);
        foreach(int pp in Constants.PowerPoints)
        {
            if(current.PowerPoints[pp] > prev.PowerPoints[pp])
            {
                differences.Add(new(pp, "up"));
            }
            else if (current.PowerPoints[pp] < prev.PowerPoints[pp])
            {
                differences.Add(new(pp, "down"));
            }
        }
    }

    private void GoToRides()
    {
        var start = now.AddDays(-daysBack).ToUnixSeconds();
        var end = now.ToUnixSeconds();
        nav.NavigateTo($"/ridelog/{start}/{end}");
    }
}
