<div class="row">
    <div class="col-6">
        <h4>Rolling Weekly Volume</h4>
        <VolumeTable Period=7></VolumeTable>  
    </div>

    <div class="col-6">
        <h4>Rolling Monthly Volume</h4>
        <VolumeTable Period=30></VolumeTable>
    </div>
</div>

@code {
    DateTime now = DateTime.Now;


}
