@page "/login";

@inject IUserService userService;
@inject IActivityService activityService;
@inject IStravaService stravaService;
@inject AppState appState; 
@inject NavigationManager nav;
@inject IToastService toastService;
@inject ILocalStorageService localStorage;

<div class="container">
    <div class="centered-window">

        <h4>Log In</h4>

        <hr />
        <form>
            <p>
                <label for="email">Email: </label>
                <input id="email" type="email" @bind-value="user.Email"/>
            </p>

            <p>
                <label for="password">Password: </label>
                <input id="password" type="password" @bind-value="user.Password"/>
            </p>
            <button type="button" class="btn btn-confirm" @onclick="SubmitLogin">Log In</button>
        </form>
        <a href="register">i don't have an account</a>
    </div>
</div>




@code {

    User user = new();

    private async Task SubmitLogin()
    {
        try
        {
            user = await userService.LoadUser(user);
            appState.SetUser(user);

            await localStorage.SetItemAsync("userid", user.UserId);

            if(user.TokenExpiration <= DateTime.Now)
            {
                await userService.RefreshUserToken(user);
            }

            if(user.StravaUserID > 0)
            {
                var newData = await activityService.InitialDataLoadForExistingUsers();

                if(newData.Item1 == 2)
                {  
                    toastService.ShowSuccess($"{appState.LoggedInUser.Activities.Last().Name} loaded in from strava +{newData.Item1 - 1} additional new activity loaded in from Strava");
                }
                else if (newData.Item1 > 2)
                {
                    toastService.ShowSuccess($"{appState.LoggedInUser.Activities.Last().Name} loaded in from strava +{newData.Item1 - 1} additional new activities loaded in from Strava");
                }
                else if(newData.Item1 == 1)
                {
                    toastService.ShowSuccess($"new ride: {appState.LoggedInUser.Activities.Last().Name} loaded in from Strava");
                }

                if(newData.Item2 >= 1)
                {
                    toastService.ShowSuccess($"FTP Updated to {newData.Item2}");
                }
            }

            toastService.ShowSuccess($"Logged in as {user.Email}");

            nav.NavigateTo("/");
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
        finally
        {
            appState.LoaderOff();
        }
    }

}

<style>

    h4 {
        text-align: center;
    }

    a {
        font-size: 9px;
    }

    form {
        display: table;
    }

    p {
        display: table-row;
    }

    label {
        display: table-cell;
    }

    input {
        display: table-cell;
    }
</style>
